<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="button.css">
</head>
<body>
  <div class="button-showcase">
    <h2>Button Component</h2>
    
    <button class="btn btn-primary">
      Primary Button
    </button>
    
    <button class="btn btn-secondary">
      Secondary Button
    </button>
    
    <button class="btn btn-primary btn-large">
      Large Primary
    </button>
    
    <button class="btn btn-secondary btn-small">
      Small Secondary
    </button>
    
    <button class="btn btn-primary btn-disabled" disabled>
      Disabled Button
    </button>
  </div>
</body>
</html>
